<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課程查詢</title>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        .table th, .table td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
            white-space: nowrap; /* 防止自動換行 */
        }
        .table th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>選課系統</h1>
    <h2>課程搜尋</h2>
    <form method="post">
        <label for="number">課程代碼:</label>
        <input type="text" id="number" name="number"><br><br>

        <label for="name">課程指導老師名字:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="time">上課時間：</label>
        <select name="week" id="week">
            <option value="">--星期幾--</option>
            <option value="星期一">星期一</option>
            <option value="星期二">星期二</option>
            <option value="星期三">星期三</option>
            <option value="星期四">星期四</option>
            <option value="星期五">星期五</option>
        </select>
        <select name="time" id="time">
            <option value="">--課程時間--</option>
            <option value="08:10~9:00">08:10~9:00</option>
            <option value="09:10~10:00">09:10~10:00</option>
            <option value="10:10~11:00">10:10~11:00</option>
            <option value="11:10~12:00">11:10~12:00</option>
            <option value="13:10~14:00">13:10~14:00</option>
            <option value="14:10~15:00">14:10~15:00</option>
            <option value="15:10~16:00">15:10~16:00</option>
            <option value="16:10~17:00">16:10~17:00</option>
        </select><br><br>

        <input type="submit" value="查詢">
    </form>

    {% if result %}
        <h2>查詢結果:</h2>
        <div>
            {{ result | safe }}
            
        </div>
    {% elif error %}
       
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <script>
        function add_course(student_id, course_id) {
            fetch('/add_course', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ student_id: student_id, course_id: course_id })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Server response:", data); // 調試信息
                if (data.redirect) {
                    console.log("Redirecting to:", data.redirect); // 調試信息
                    window.location.href = data.redirect;
                } else {
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('加選過程中出現錯誤:', error);
            });
        }
        </script>
             
</body>
</html>
           